/* #e73487  - main pink*/

/* NAVBAR SECTION START */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
    font-family: "Alfa Slab One", cursive;
}
body,html{
    overflow-x: hidden;
    scrollbar-width: thin;
    cursor: url("./images/pizza_mouse_big_outline.png") 16 0,auto;
   
}
*::-webkit-scrollbar {
    width: 2px;
    height: 5px;
    
  }

  *::-webkit-scrollbar-track {
    /* background: #4a4a46 */
    background-color: black;

  }

  *::-webkit-scrollbar-thumb {
    background-color: #e73487;
    border-radius: 30px;

  }


.nav-item {
  padding-right: 15px;
  color: white;
}

#ig-link{
    cursor: url("./images/pizza_mouse_hover.png") 16 0,auto;
    color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  transform: scale(1.05) translateY(-1px);
  color: #e73487;
}

.navbar-brand {
  color: #e73487;
  margin-left: 25px;
  margin: 0px 0px 0px 15px;
}
.navbar-brand:hover {
  color: #e73487;
}

.container-fluid {
  padding: 0;
}

#contact {
  margin-right: 15px;
}
.navbar{
    background-color: black;
}
.navbar-toggler{
    background-color: #e73487;
}

/* NAVBAR SECTION END */

/* HERO SECTION START */
.hero {
  background-attachment: fixed;
  background-image: url("./images/dropoutsPizza_blur.png");
  height: 100%;
  background-size: cover;
  width: 100%;
  /* filter: blur(1000rem); */
  /* background-repeat: no-repeat; */
}
#black{
    color: black;
}
#logo {
  margin: 15vh 0vh 10vh 0vh;
}
#phone-number:hover{
    transform: scale(1.02) translateY(-2px)
}
#phone-number {
  margin-bottom: 25vh;
  color: black;
}

#phone-number:hover{
    cursor: url("./images/pizza_mouse_hover.png") 16 0,auto;

}

/* HERO SECTION END */

/* <!-- UPDATE SECTION STARTS HERE --> */
#updates {
 
  color: #e73487;
  /* scroll-behavior: smooth; */
}

.updates-and-ig{
    margin-bottom: 10vh;
    padding-top: 5vh;
}
#img-target {
  /* margin-left: 30px; */
  gap: .8rem;
 display: grid;
  grid-auto-flow: column; 
  /* scroll-behavior: smooth; */

  /* grid-template-columns: 25%; */
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}
#img-target > * {
    scroll-snap-align: center;
}
#card {
  /* margin: 2rem; */
}
#gallery {
  background-color: black;
  height: 800px;
  width: 100%;
  
}
#small-text{
    font-size:14px;
}
#updateImages {
  height: 300px;
}
.card {
  background-color: black;
  color: white;
}

#specific-image:hover{
    cursor: url("./images/pizza_mouse_hover.png") 16 0,auto;

    transform: translateY(-1px) scale(1.01)
}

#small-text:hover{
    cursor: url("./images/pizza_mouse_hover.png") 16 0,auto;

    transform: scale(1.01) translateY(-1px)
}

/* <!-- UPDATE SECTION ENDS HERE --> */

/* <!-- MENU SECTION STARTS HERE -->*/
#menu-container{
    margin: 8rem 0rem 8rem 0rem;
}

/* <!-- MENU SECTION ENDS HERE --> */

/* <!-- REVIEW SECTION STARTS HERE --> */
#star-target{
    height: 25px;
    width: 25px;
}

.review-box{
    margin-top: 20px;
    height: 570px;
    background-color: black;
}

#r-color{
    color: #e73487;
}

#border{
   outline: 10px solid black
   
}
#options{
    margin-top: 7rem;
}
#main{
    color: #e73487;
}
#line{
    width: 3px;
    height: 20px;
    background-color: #e73487;
    color: #e73487;
}

#see-more{
    color: #e73487;


}

#see-more:hover{
    
    cursor: url("./images/pizza_mouse_hover.png") 16 0,auto;

    transform: scale(1.02) translateY(-1px)


}

#leave-review{
    color: #e73487;

}

#leave-review:hover{
    cursor: url("./images/pizza_mouse_hover.png") 16 0,auto;

    transform: scale(1.02) translateY(-1px)
}

/* <!-- REVIEW SECTION ENDS HERE --> */

/* <!-- GALLERY SECTION STARTS HERE --> */
#gallery-pictures{
   margin-top: 10rem;
    height: 500px;
    width: 500px;

}
.test{
    height: 20px;
    width: 20px;
    background-color: green;
}
#gallery-hw{
    height: 600px;
    background-color: black;
    width: 100%;
}

#specific-image:hover{
    cursor: url("./images/pizza_mouse_hover.png") 16 0,auto;

    transform: translateY(-1px) scale(1.01)
}
/* <!-- GALLERY SECTION ENDS HERE --> */


/* <!-- CONTACT SECTION STARTS HERE --> */
/* <!-- CONTACT SECTION ENDS HERE -->  */
